:root {
  --website-background-color: #0B0D2C;
  --text-color: #FFFFFF;
  --grid-boxes-color: #FFD700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--website-background-color);
  padding: 10px;
}

.grid__box {
  font-size: 4vw;
  padding: 10px;
  text-align: center;
  color: var(--text-color);
  background: var(--grid-boxes-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
}

.grid__box:nth-child(1) {
  grid-column: span 12;
}

.grid__box:nth-child(2),
.grid__box:nth-child(3) {
  grid-column: span 6;
}

.grid__box:nth-child(4),
.grid__box:nth-child(5),
.grid__box:nth-child(6) {
  grid-column: span 4;
}

.grid__box:nth-child(7),
.grid__box:nth-child(8),
.grid__box:nth-child(9),
.grid__box:nth-child(10) {
  grid-column: span 3;
}

.grid__box:nth-child(11),
.grid__box:nth-child(12),
.grid__box:nth-child(13),
.grid__box:nth-child(14),
.grid__box:nth-child(15),
.grid__box:nth-child(16) {
  grid-column: span 2;
}

@media (max-width: 1025px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .grid__box:nth-child(1),
  .grid__box:nth-child(2) {
    grid-column: span 6;
  }

  .grid__box:nth-child(3),
  .grid__box:nth-child(4),
  .grid__box:nth-child(5) {
    grid-column: span 4;
  }

  .grid__box:nth-child(6),
  .grid__box:nth-child(7),
  .grid__box:nth-child(8),
  .grid__box:nth-child(9) {
    grid-column: span 3;
  }

  .grid__box:nth-child(10),
  .grid__box:nth-child(11),
  .grid__box:nth-child(12),
  .grid__box:nth-child(13),
  .grid__box:nth-child(14),
  .grid__box:nth-child(15) {
    grid-column: span 2;
  }

  .grid__box:nth-child(16),
  .grid__box:nth-child(17),
  .grid__box:nth-child(18),
  .grid__box:nth-child(19),
  .grid__box:nth-child(20),
  .grid__box:nth-child(21),
  .grid__box:nth-child(22),
  .grid__box:nth-child(23),
  .grid__box:nth-child(24),
  .grid__box:nth-child(25),
  .grid__box:nth-child(26),
  .grid__box:nth-child(27) {
    grid-column: span 1;
  }

  .grid__box:nth-child(28) {
    grid-column: span 12;
  }
}

@media (max-width: 767px) {
  .grid__box:nth-child(1) {
    grid-column: span 12;
  }

  .grid__box:nth-child(2),
  .grid__box:nth-child(3) {
    grid-column: span 6;
  }

  .grid__box:nth-child(4),
  .grid__box:nth-child(5),
  .grid__box:nth-child(6) {
    grid-column: span 4;
  }

  .grid__box:nth-child(7),
  .grid__box:nth-child(8),
  .grid__box:nth-child(9),
  .grid__box:nth-child(10) {
    grid-column: span 3;
  }

  .grid__box:nth-child(11),
  .grid__box:nth-child(12),
  .grid__box:nth-child(13),
  .grid__box:nth-child(14),
  .grid__box:nth-child(15),
  .grid__box:nth-child(16) {
    grid-column: span 2;
  }

  .grid__box:nth-child(17),
  .grid__box:nth-child(18),
  .grid__box:nth-child(19),
  .grid__box:nth-child(20),
  .grid__box:nth-child(21),
  .grid__box:nth-child(22),
  .grid__box:nth-child(23),
  .grid__box:nth-child(24),
  .grid__box:nth-child(25),
  .grid__box:nth-child(26),
  .grid__box:nth-child(27),
  .grid__box:nth-child(28) {
    grid-column: span 1;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    display: block;
  }

  .grid__box {
    margin: 10px 0;
  }
}